﻿

@section scripts {
    <environment names="Development">

        <script>
            window.ClientConfig = {
                bagGameName: '@(ViewBag.Game.Name.ToString())',
                bagGamePrice: '@(ViewBag.Game.Price.ToString())',
                bagGameDescription: '@ViewBag.Game.Description.ToString()',
                bagGameImage: '@ViewBag.Game.Image.ToString()',
            };
        </script>
        <script src="~/js/Controllers/categoryController.js"></script>
        <script src="~/js/Services/categoryService.js"></script>
        <script src="~/js/Controllers/gameController.js"></script>
        <script src="~/js/Services/gameService.js"></script>
    </environment>
}
<style>
    .needDiv {
        margin-bottom: 5%;
    }
</style>
<form method="post" asp-action="AddGame" asp-controller="Game" enctype="multipart/form-data">



    <div style="margin-top:6%;" class="container" ng-controller="gameController" ng-model="game" ng-init="getCategory()">
        <toaster-container></toaster-container>
        <div class="col-md-6 col-md-offset-3">
            <h2 style="text-align:center;">Add Game Form</h2>
            <div class="form-group needDiv">
                <label class="col-sm-3 control-label">Game Name</label>
                <div class="col-sm-9">
                    <div class="ui corner labeled input">
                        <input style="width:280px;" type="text" ng-model="Name" name="gameName" placeholder="Full Name" class="form-control" autofocus required>
                        <div class="ui corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                    <span class="help-block">FIFA 2016 inc.</span>

                </div>
            </div>
            <div class="form-group needDiv">
                <label class="col-sm-3 control-label">Category</label>
                <div class="col-sm-9 needDiv">
                    <select ng-model="categor" class="form-control" name="gameCategory">
                        <option ng-repeat="categor in category">
                            {{categor.Name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group needDiv">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9 needDiv">
                    <textarea class="form-control" ng-model="Description" name="gameDescription" required> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Price</label>
                <div class="col-sm-9 needDiv">
                    <div class="ui right labeled input" style="margin-bottom:2%;margin-top:2%;">
                        <div class="ui label">$</div>
                        <input type="text" ng-model="Price" class="" style="width:205px;" placeholder="Amount..." name="gamePrice" required>
                        <div class="ui basic label">.00</div>
                    </div>

                </div>
            </div>
            <div class="form-group needDiv">
                <label class="col-sm-3 control-label">Photo</label>
                <div class="col-sm-9 needDiv">
                    <input class="ui basic button form-control" type="file" name="files" multiple />
                    <br />
                    <input style="margin-top:2.5%;" class="ui inverted blue button form-control" type="submit" value="Upload" />
                    <br />
                    <label> File Name:{{Image}} </label>

                </div>
            </div>
            <br />
            <br />
            <div class="form-group needDiv" style="text-align:center;">
                <div class="col-sm-7 col-sm-offset-3">
                    <button type="button" class="ui primary button form-control" ng-click="createGame(categor)">Add Game</button>
                </div>

            </div>
        </div>
    </div>

</form>

