﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../../wwwroot/lib/semantic/dist/semantic.css" rel="stylesheet" />
    <script src="../../wwwroot/lib/semantic/examples/assets/library/jquery.min.js"></script>
    <script src="../../wwwroot/lib/semantic/dist/semantic.js"></script>
    <title></title>
</head>
<body>
    <div class="shape demos">

        <div class="ui center">
            <div class="column" style="margin-top:5%;">
                <div class="ui shape">
                    <div class="sides">
                        <div class="active side">
                            <div class="row ui message info" style="margin-bottom:5%;">
                                <h2 class="ui header" style="text-align:center;">
                                    Top Sales game
                                </h2>

                                <div class="ui five column grid" style="margin-top:0.5%;">

                                    <div class="column">
                                        <div class="ui fluid card">
                                            <div class="image">
                                                <img src="~/images/hardline.GIF" />
                                            </div>
                                            <div class="content">
                                                <div class="header" style="margin-bottom:1%;">FIFA 17</div>
                                                <div class="description">
                                                    <p>"MIRROR'S EDGE 1 — мультиплатформенная компьютерная игра в жанре шутера от первого лица</p>
                                                    <div style="margin-left:65%;">
                                                        <div class="ui red tag labels pull-right">
                                                            <a class="ui label">
                                                                $70
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ui two bottom attached buttons">
                                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                                    <i class="add to cart icon"></i>
                                                    Buy
                                                </div>
                                                <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                                    Watch
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui fluid card">
                                            <div class="image">
                                                <img src="~/images/fifa17delux.GIF" />
                                            </div>
                                            <div class="content">
                                                <div class="header" style="margin-bottom:1%;">FIFA 17</div>
                                                <div class="description">
                                                    <p>"MIRROR'S EDGE 1 — мультиплатформенная компьютерная игра в жанре шутера от первого лица</p>
                                                    <div style="margin-left:65%;">
                                                        <div class="ui red tag labels pull-right">
                                                            <a class="ui label">
                                                                $70
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ui two bottom attached buttons">
                                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                                    <i class="add to cart icon"></i>
                                                    Buy
                                                </div>
                                                <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                                    Watch
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui fluid card">
                                            <div class="image">
                                                <img src="~/images/FIFA17.GIF" />
                                            </div>
                                            <div class="content">
                                                <div class="header" style="margin-bottom:1%;">FIFA 17</div>
                                                <div class="description">
                                                    <p>"MIRROR'S EDGE 1 — мультиплатформенная компьютерная игра в жанре шутера от первого лица</p>
                                                    <div style="margin-left:65%;">
                                                        <div class="ui red tag labels pull-right">
                                                            <a class="ui label">
                                                                $70
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ui two bottom attached buttons">
                                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                                    <i class="add to cart icon"></i>
                                                    Buy
                                                </div>
                                                <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                                    Watch
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui fluid card">
                                            <div class="image">
                                                <img src="~/images/fifa16.GIF" />
                                            </div>
                                            <div class="content">
                                                <div class="header" style="margin-bottom:1%;">FIFA 17</div>
                                                <div class="description">
                                                    <p>"MIRROR'S EDGE 1 — мультиплатформенная компьютерная игра в жанре шутера от первого лица</p>
                                                    <div style="margin-left:65%;">
                                                        <div class="ui red tag labels pull-right">
                                                            <a class="ui label">
                                                                $70
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ui two bottom attached buttons">
                                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                                    <i class="add to cart icon"></i>
                                                    Buy
                                                </div>
                                                <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                                    Watch
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui fluid card">
                                            <div class="image">
                                                <img src="~/images/battlefieldImage.GIF" />
                                            </div>
                                            <div class="content">
                                                <div class="header" style="margin-bottom:1%;">FIFA 17</div>
                                                <div class="description">
                                                    <p>"MIRROR'S EDGE 1 — мультиплатформенная компьютерная игра в жанре шутера от первого лица</p>
                                                    <div style="margin-left:65%;">
                                                        <div class="ui red tag labels pull-right">
                                                            <a class="ui label">
                                                                $70
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ui two bottom attached buttons">
                                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                                    <i class="add to cart icon"></i>
                                                    Buy
                                                </div>
                                                <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                                    Watch
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <div class="row ui message info" style="margin-bottom:5%;">
                                <h2 class="ui header" style="text-align:center;">
                                    Top Sales game
                                </h2>

                                <div class="ui five column grid" style="margin-top:0.5%;">

                                    <div class="column">
                                        <div class="ui fluid card">
                                            <div class="image">
                                                <img src="~/images/hardline.GIF" />
                                            </div>
                                            <div class="content">
                                                <div class="header" style="margin-bottom:1%;">FIFA 17</div>
                                                <div class="description">
                                                    <p>"MIRROR'S EDGE 1 — мультиплатформенная компьютерная игра в жанре шутера от первого лица</p>
                                                    <div style="margin-left:65%;">
                                                        <div class="ui red tag labels pull-right">
                                                            <a class="ui label">
                                                                $70
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ui two bottom attached buttons">
                                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                                    <i class="add to cart icon"></i>
                                                    Buy
                                                </div>
                                                <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                                    Watch
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui fluid card">
                                            <div class="image">
                                                <img src="~/images/fifa17delux.GIF" />
                                            </div>
                                            <div class="content">
                                                <div class="header" style="margin-bottom:1%;">FIFA 17</div>
                                                <div class="description">
                                                    <p>"MIRROR'S EDGE 1 — мультиплатформенная компьютерная игра в жанре шутера от первого лица</p>
                                                    <div style="margin-left:65%;">
                                                        <div class="ui red tag labels pull-right">
                                                            <a class="ui label">
                                                                $70
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ui two bottom attached buttons">
                                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                                    <i class="add to cart icon"></i>
                                                    Buy
                                                </div>
                                                <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                                    Watch
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui fluid card">
                                            <div class="image">
                                                <img src="~/images/FIFA17.GIF" />
                                            </div>
                                            <div class="content">
                                                <div class="header" style="margin-bottom:1%;">FIFA 17</div>
                                                <div class="description">
                                                    <p>"MIRROR'S EDGE 1 — мультиплатформенная компьютерная игра в жанре шутера от первого лица</p>
                                                    <div style="margin-left:65%;">
                                                        <div class="ui red tag labels pull-right">
                                                            <a class="ui label">
                                                                $70
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ui two bottom attached buttons">
                                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                                    <i class="add to cart icon"></i>
                                                    Buy
                                                </div>
                                                <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                                    Watch
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui fluid card">
                                            <div class="image">
                                                <img src="~/images/fifa16.GIF" />
                                            </div>
                                            <div class="content">
                                                <div class="header" style="margin-bottom:1%;">FIFA 17</div>
                                                <div class="description">
                                                    <p>"MIRROR'S EDGE 1 — мультиплатформенная компьютерная игра в жанре шутера от первого лица</p>
                                                    <div style="margin-left:65%;">
                                                        <div class="ui red tag labels pull-right">
                                                            <a class="ui label">
                                                                $70
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ui two bottom attached buttons">
                                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                                    <i class="add to cart icon"></i>
                                                    Buy
                                                </div>
                                                <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                                    Watch
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui fluid card">
                                            <div class="image">
                                                <img src="~/images/battlefieldImage.GIF" />
                                            </div>
                                            <div class="content">
                                                <div class="header" style="margin-bottom:1%;">FIFA 17</div>
                                                <div class="description">
                                                    <p>"MIRROR'S EDGE 1 — мультиплатформенная компьютерная игра в жанре шутера от первого лица</p>
                                                    <div style="margin-left:65%;">
                                                        <div class="ui red tag labels pull-right">
                                                            <a class="ui label">
                                                                $70
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ui two bottom attached buttons">
                                                <div class="ui button" ng-click="addToBucket('@User.Identity.Name',game.GameId)">
                                                    <i class="add to cart icon"></i>
                                                    Buy
                                                </div>
                                                <a class="ui primary button" ng-href="https://www.youtube.com/results?search_query={{game.Name}}">
                                                    Watch
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="ui ignored hidden divider"></div>

                <div class="ui ignored icon direction buttons">
                    <div class="ui button" data-animation="flip" title="Flip Left" data-direction="left"><i class="left long arrow icon"></i></div>
                    <div class="ui button" data-animation="flip" title="Flip Up" data-direction="up"><i class="up long arrow icon"></i></div>
                    <div class="ui icon button" data-animation="flip" title="Flip Down" data-direction="down"><i class="down long arrow icon"></i></div>
                    <div class="ui icon button" data-animation="flip" title="Flip Right" data-direction="right"><i class="right long arrow icon"></i></div>
                </div>

                <div class="ui ignored icon direction buttons">
                    <div class="ui button" title="Flip Over" data-animation="flip" data-direction="over"><i class="retweet icon"></i></div>
                    <div class="ui button" title="Flip Back" data-animation="flip" data-direction="back"><i class="flipped retweet icon"></i></div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document)
          .ready(function () {
              var
                $demo = $('.shape.demos .ui.shape'),
                $directionButton = $('.shape.demos .direction .button'),
                handler
              ;
              // event handlers
              handler = {
                  rotate: function () {
                      var
                        $shape = $(this).closest('.buttons').prevAll('.ui.shape').eq(0),
                        direction = $(this).data('direction') || false,
                        animation = $(this).data('animation') || false
                      ;
                      if (direction && animation) {
                          $shape
                            .shape(animation + '.' + direction)
                          ;
                      }
                  }
              };
              // attach events
              $demo
                .shape()
              ;
              $directionButton
                .on('click', handler.rotate)
                .popup({
                    position: 'bottom center'
                })
              ;
          })
        ;
    </script>
</body>
</html>