﻿@section scripts {
    <environment names="Development">
        <script src="~/js/Controllers/categoryController.js"></script>
        <script src="~/js/Services/categoryService.js"></script>
        <script src="~/js/Controllers/gameController.js"></script>
        <script src="~/js/Services/gameService.js"></script>
    </environment>
}
<style>
 .row div {
    }

    p {
        overflow: hidden;
    }
    #myCarousel {
    margin-top: 1.5%;
    border-radius: 15px;
    margin-bottom: 1.5%;
}
</style>
<div ng-controller="gameController" class="col-md-offset-1 col-md-10" style="margin-top:5%;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" style="border-radius: 15px" role="listbox">
            <div class="item active">
                <img ng-src="{{firstPage}}" />
            </div>

            <div ng-repeat="itemImage in imageCarousel" class="item">
                <img ng-src="{{itemImage}}" />
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" style="border-radius: 15px" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" style="border-radius: 15px" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>