﻿@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using GameStore.Infrastructure.Wrappers

@inject SignInManegerWrapper SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">LogOff</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Login">LogIn</a></li>
    </ul>
}