﻿@section Scripts {
    <environment names="Development">
        <script src="~/js/Controllers/accountController.js"></script>
        <script src="~/js/Services/accountService.js"></script>
    </environment>
}
<div class="container" ng-controller="accountController" ng-model="account" style="margin-top:5%;">
    <toaster-container></toaster-container>
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" role="form">
            <h2 style="text-align:center;">Customer Registration Form</h2>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="account.FullName" id="firstName" placeholder="Full Name" class="form-control" autofocus required>
                    <span class="help-block">Last Name, First Name: Bernet, Martin</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" ng-model="account.Email" id="email" placeholder="Email" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" ng-model="account.Password" id="password" placeholder="Password" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                <div class="col-sm-9">
                    <input type="date" ng-model="account.DateBirthsday" id="birthDate" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">Country</label>
                <div class="col-sm-9">
                    <select id="country"  class="form-control ui search dropdown" ng-model="account.Country" required>
                            <option ng-repeat="itemCountry in country" value={{itemCountry}}>{{itemCountry}}</option>
                        </select>
                </div>
            </div> 
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">Language</label>
                <div class="col-sm-9">
                    <select id="language" ng-model="account.Language" class="form-control ui search dropdown" required>
                        <option ng-repeat="itemLanguage in language" value={{itemLanguage}}>{{itemLanguage}}</option>
                    </select>
                </div>
            </div>
           <br />
        <br />
            <div class="form-group">
                <div style="padding-right:35px;" class="col-sm-7 col-sm-offset-3">
                    <button type="submit" class="form-control ui button primary" ng-click="createAccount(account)">Register</button>
                </div>
            </div>
        </form>
    </div>
</div> 